//- Main links
mixin links(className, idName, icon = false)
    nav(class=className, id=idName)
        if block 
            block
        - let mainLinks = ['home', 'shop', 'about', 'team', 'blog', 'contact']
            each link in mainLinks 
                if link === 'home'
                    a(href='index.html') 
                        if icon === true 
                            i(class='bx bx-right-arrow-alt')
                        | home
                else 
                    a(href=`${link}.html`)
                        if icon === true 
                            i(class='bx bx-right-arrow-alt')
                        = link 

//- Extra links footer
mixin extraLinks(className)
    div(class=className)
        h3 extra links 
        - let dataLinks = ['order', 'wishlist', 'account', 'favorite', 'trems of user']
            each data in dataLinks 
                a(href="#")
                    i(class='bx bx-right-arrow-alt')
                    = data

//- Social media icons link 
mixin socialIcons(className, title = false)
    div(class=className)
        if title
            h3= title 
        - let dataSocialIcons = [{href: "https://www.facebook.com", class: "bx bxl-facebook", title: "facebook"}, {href: "https://twitter.com", class: "bx bxl-twitter", title: "twitter"} , {href: "https://www.instagram.com", class: "bx bxl-instagram", title: "instagram"}, {href: "https://www.youtube.com", class: "bx bxl-youtube", title: "youtube"}, {href: "https://www.linkedin.com", class: "bx bxl-linkedin", title: "linkedin"}]
            each data in dataSocialIcons
                a(href=data.href)
                    i(class=data.class)
                    if title
                        = data.title

//- heading pages (breadcrumb)
mixin breadCrumb(className, title, href, titleLink, mainTitle)
    section(class=className)
        h2= title 
        p
            a(href=href)= `${titleLink} ` 
            | /
            span= ` ${mainTitle}`
